<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Hotel IceTown - Cadastro</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">

</head>

<body>

    <main>


        <div class="login-page">

            <div class="form-cadastro">
                <form class="register-form" method="post" action="/cadastro">
                    <h2>Cadastro</h2>
                    <input type="text" placeholder="Nome" name="nome_usu" /> <br>
                    <input type="text" placeholder="Nome de usuário" name="nomeusu_usu"/><br>
                    <input type="text" placeholder="e-mail " name="email_usu"/><br>
                    <input type="password" placeholder="senha" name="senha_usu"/><br>
                    <button>Cadastrar</button><br>
                    <p class="message">Já é cadastrado? <a href="/login">Entre</a></p>
                </form>
            </div>
        </div>


    </main>

</body>